# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.classpath
out
target
classes
build
# plugin dev
core/.idea-sandbox
idea-flex.skeleton
jflex-*.jar
# gradle
.gradle